@import '../../Variables.scss';

.FooterDarkTextWidget {
  height: 300px;
  width: auto;
  text-align: left;
  padding-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}


.FooterDarkTextWidget-text  {
  font-size: $footer-dark-font-size;
  color: $dark-text-color;
}