
.wide-container{
  width: 100%;
}

.image-left{
  background-color: #dddddd;
  height: 250px;
  padding: 0 !important;
}

.image-right{
  background-color: black;
  height: 250px;
  padding: 0 !important;
  
}

.text-left{
  background-color: black;
  height: 250px;
  padding: 0 !important;
  text-align: left;
}

.text-real-left{
  text-align: left;
  margin: 0 auto;
}

.text-real-right{
  text-align: right;
  margin: 0 auto;
}

.headline{
  text-align: center;
}

.text-right{
  background-color: #dddddd;
  padding: 0 !important;
  height: 250px;
  text-align: right;
}

.image{
  height: 254px;
  width: 100%;
}