@import '../../Variables.scss';

.AdBox {
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
}

.AdBox-imageContainer {
  height: 100%;
  width: 100%;
}

.AdBox-image {
  width: 100%;
  background-size: cover;
}