@import '../../Variables.scss';

.NavPanel {
  color: $juz-green;
}

.NavPanel .navbar {
  border-radius: 0 !important;
  background-color: $juz-green;
  border: 0px;
}

.nav-line {
  background-color: $juz-green;
  min-height:50px;
  text-align: center;
}

.navigation {
  width: 75%;
  margin: 0 auto;
}

.NavPanel-menuPoint {
  cursor: pointer;
  height: 50px;
  width: 125px;
  float: left;
  line-height: 50px;
  text-align: center;
  background-color: $juz-green;
}

.NavPanel-text{
  text-decoration: none;
  color: white;
  text-align: center;
}

.NavPanel-menuPoint.active {
  background-color: #ffffff;
  color: black !important;
}

.NavPanel-menuPoint:hover {
  background-color: #ffffff;
  color: black !important;
}
.NavPanel-menuPoint a {
  color: white;
  font-family: $primary-font;
}

.NavPanel-menuPoint.active .NavPanel-text{
  color: black !important;
}

.NavPanel-menuPoint:hover .NavPanel-text{
  color: black !important;
}

.NavPanel-menuPoint.active a{
  background-color: transparent !important;
}

.navbar-inverse .navbar-collapse{
  overflow: hidden;
}

