a {
  color: #333; }

a:hover, a:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

body {
  background: #ffffff !important; }

.HeaderPanel {
  width: 100%;
  background-color: #ffffff;
  z-index: 99999999; }

.HeaderPanel-logo {
  height: 60px;
  width: 100%;
  text-align: center; }

.HeaderPanel-headerNav {
  height: 10px; }

.image-juz-header {
  height: 100px;
  width: 100%; }

@media screen and (max-width: 767px) {
  .HeaderPanel {
    height: auto; }
  .HeaderPanel-logo {
    margin-top: 10px; } }
