@import '../../Variables.scss';

.FooterHeading {
  font-family: $primary-font;
}

.FooterHeading-heading {
  text-align: left;
  text-transform: uppercase;
  font-weight: lighter;
  color: #ffffff;
}

.FooterHeading-cube {
  display: inline-block;
  height: 20px;
  width: 3px;
  background-color: $mar-red;
  position: relative;
  top: 2px;
  margin-left: 7px;
}

.FooterHeading-cube::after {
  height: 100%;
  width: 10px;
  content: '';
  display: inline-block;
  background-color: $mar-red;
  margin-left: 8px;
  position: relative;
  top: -1px;
}