@import '../../Variables.scss';

.SectionSubHeading {
  font-family: $primary-font;
  text-align: left;
  margin-bottom: 15px;
}

.SectionSubHeading-heading {
  font-weight: bold;
  font-size: 17px;
}

.SectionSubHeading-cube {
  display: inline-block;
  height: 14px;
  width: 2px;
  background-color: $mar-red;
  position: relative;
  top: 2px;
  margin-left: 5px;

}

.SectionSubHeading-cube::after {
  height: 100%;
  width: 8px;
  content: '';
  display: inline-block;
  background-color: $mar-red;
  margin-left: 5px;
  position: relative;
  top: -1px;
}