@import '../../Variables.scss';
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body{
  font-family: 'Amatic SC', cursive;
}

p, li {
  font-size: 25px;
}


.header{
  background-color: $juz-green;
  padding: 0 15px;
  min-height: 75px;
}


.details{
  background-color: white !important;
}


.price{
  float: left;
}

.header-wrapper{
  margin-top: 15px;
}

.wrapper-row{
  margin-top: 15px;
}