a {
  color: #333; }

a:hover, a:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.WatchPanel {
  font-family: Ubuntu, sans-serif;
  position: relative;
  width: 100%;
  cursor: pointer;
  background: #ffffff; }

.WatchPanel-imageContainer {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: white;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: black; }

.WatchPanel-wrapper:hover {
  cursor: pointer; }

.WatchPanel-wrapper:hover .WatchPanel-watchImage {
  opacity: 0.1 !important;
  transition: 0.5s; }

.WatchPanel-watchImage {
  max-width: 100%;
  max-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.WatchPanel-watchImage:hover {
  max-width: 100%;
  max-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1; }

.WatchPanel-nameArea {
  width: 100%;
  min-height: 50px;
  padding: 5px 15px;
  margin-bottom: 15px;
  text-decoration: none;
  color: black;
  background-color: #f2f2f2; }

.WatchPanel-wrapper:hover .WatchPanel-watchName {
  text-decoration: none;
  color: #0f0f0f; }

.WatchPanel-watchName {
  text-align: left;
  line-height: 20px;
  font-size: 8pt;
  margin-bottom: 0;
  text-decoration: none !important; }

.WatchPanel-priceArea {
  height: 30px;
  background-color: #dddddd;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 15px; }

.WatchPanel-priceArea .WatchPanel-oldPrice, .WatchPanel-priceArea .WatchPanel-price {
  display: inline-block;
  vertical-align: middle;
  color: #666666; }

.WatchPanel-oldPrice {
  padding-right: 7px;
  text-decoration: line-through;
  font-size: 8pt; }

.WatchPanel-price {
  padding-left: 10px;
  color: #000000 !important;
  font-size: 9pt; }

.WatchPanel-discountArea {
  text-align: center;
  background-color: #ff3b30;
  position: absolute;
  width: 80px;
  height: 40px;
  top: 0;
  right: 0; }

.WatchPanel-discountArea p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  line-height: 20px;
  font-size: 9pt;
  color: white; }

.WatchPanel .overlay-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;
  background-color: #ffffff; }

.WatchPanel-wrapper:hover .overlay-container {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer; }

.WatchPanel-wrapper:hover .WatchPanel-watchName {
  text-decoration: none !important;
  color: #0f0f0f; }

.WatchPanel .overlay-container .overlay-container-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.WatchPanel .overlay-container .overlay-container-content .link-icon {
  font-size: 20px; }

.WatchPanel .overlay-container .overlay-container-content .link-text {
  font-size: 12px; }

.overlay-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; }

.WatchPanel-imageContainer:hover .overlay-container {
  transition: 0.5s;
  opacity: 1; }

.uvp-input-container {
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: -10px;
  margin-bottom: 10px; }

.uvp-input-field {
  width: 100%;
  height: 30px; }

.ok-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  background-color: #ff3b30;
  color: white;
  z-index: 50;
  padding: 0 15px;
  border: 0; }
