a {
  color: #333; }

a:hover, a:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.FooterLinksWidget {
  height: 300px;
  width: auto;
  margin-top: 15px;
  margin-bottom: 15px; }

.FooterLinksWidget-listPoint {
  list-style: none;
  text-align: left;
  margin-bottom: 5px; }

.FooterLinksWidget-link {
  color: #6b6b6b;
  font-size: 14px;
  text-decoration: none; }

.FooterLinksWidget-linkList {
  padding: 0; }

.FooterLinksWidget-link:hover {
  text-decoration: none;
  color: #ffffff; }

.FooterLinksWidget-link:focus {
  text-decoration: none;
  color: #ffffff; }
