@import '../../Variables.scss';

.FooterLinksWidget {
  height: 300px;
  width: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.FooterLinksWidget-listPoint {
  list-style: none;
  text-align: left;
  margin-bottom: 5px;
}

.FooterLinksWidget-link {
  color: $dark-text-color;
  font-size: $footer-dark-font-size;
  text-decoration: none;
}

.FooterLinksWidget-linkList {
  padding: 0;
}

.FooterLinksWidget-link:hover {
  text-decoration: none;
  color: $light-color;
}

.FooterLinksWidget-link:focus {
  text-decoration: none;
  color: $light-color;
}